## eclipse stuff
bin/
.metadata/
bird-core/bird-output/**/*.java
bird-nescio-ide/generated/**/*.java
bird-nescio-tests/test/**/*.java

## OS stuff
.DS_Store
.~*
Thumbs.db


## maven stuff
target/

**/.classpath
**/.project
**/.settings

