<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="rascal_eclipse.rascalLibrary">
   </extension>
    <extension
         id="bird_nescio_nature"
         name="bird_nescio_nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="lang.birdnescio.ide.Nature">
         </run>
         </runtime>
         </extension>
         
     <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="bird_nescio_nature"
            class="lang.birdnescio.ide.BirdNescioProjectWizard"
            id="bird_nescio_nature.projectwizard"
            name="Bird/Nescio Project"
            project="true">
      </wizard>
      <category
            id="bird_nescio_nature"
            name="Bird/Nescio">
      </category>
      <wizard
            category="bird_nescio_nature"
            class="lang.birdnescio.ide.NewBirdFile"
            id="bird_nescio_nature.wizards.NewBirdFile"
            name="Bird Module"
            >
      </wizard>
      <wizard
            category="bird_nescio_nature"
            class="lang.birdnescio.ide.NewNescioFile"
            id="bird_nescio_nature.wizards.NewNescioFile"
            name="Nescio Module"
            >
      </wizard>
   </extension>
     <extension
           point="org.eclipse.ui.startup">
        <startup
              class="lang.birdnescio.ide.Startup">
        </startup>
     </extension>
   
</plugin>
